/* Body */

body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Hader */

header {
    background-color: white;
    text-align: center;
    padding: 0 px 20px;
}

/* Logo en header */
.logo {
    width: 150px;

}

/* publicidad en header */
.publicidad {
    width: 600px;
    height: 150px;

}

/* Futuramente un banner */
.banner {
    border: 2px rgb(68, 17, 129) solid;
    margin: 10px 10px 10px 10px;
    padding: 9px 2px 2px 0px;
    width: 98%;
    height: auto;

}

/*  menu de navegacion */
nav {
    background-color: pink;
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

nav ul li {
    text-align: center;
    list-style: none;
    display: inline-block;
    width: 160px;
    height: 30px;
    padding: 9px 2px 2px 0px;

}

/* enlaces del menu de navegacion  */
nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;


}

/* Titulos en las paginas */
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: deeppink;
}


/* footer */
footer {
    font-size: 20px;
    background-color: pink;
    padding: 0px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

footer ul li {
    list-style: none;
}

footer div {

    display: inline-block;
    padding: 10px;
    width: 450px;
    text-align: left;
    color: deeppink;


}

.ubicacion {
    text-align: left;
}

.pasoInline {
    text-align: center;
}

.redes {
    text-align: right;
}

/* Quienes somos */

.contenedorQuienes h2 {
    color: black;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.contenedorQuienes p {
    color: black;
    text-align: left;
    padding: 10px;
    margin: 20PX;

}

/* formulario de contacto */
.formulario {
    background-color: pink;
    margin: 20px 20px;
    padding: 50px 50px;
    border: 4px deeppink solid;
    border-radius: 8px;
    display: inline-block;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.btnFormulario {
    background-color: deeppink;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.foto {
    margin: 20px;
    padding: 10px 10px 10px 50px;
    width: auto;
    height: 250px;
    display: inline-block;

}

section div {

    padding: 40px 20px 20px 20px;
    display: inline-block;
    width: 650px;
    text-align: left;

}

/* Menu vertical de productos */

.menuVertical ul {
    list-style-type: none;
    margin: 10px;
    padding: 2px;
    width: 200px;
    overflow: hidden;
    border-radius: 30px;
    background-color: pink;
    /* Color de fondo del menú */

}

.menuVertical li {
    display: block;
    color: white;
    /* Color del texto del menú */
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    text-decoration: none;
}

.menuVertical {
    display: inline-block;
}

.menuVertical a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

/* producto */
.contenedorProducto {

    margin: 30px;
    padding: 5px;
    border: 4px solid pink;
    display: inline-block;
    border-radius: 40px;

}

.contenedorProducto p {

    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

}

.producto {
    display: inline-block;
    width: 200px;
    height: auto;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}