/* Quienes somos */

.contenedorQuienes {
    h2 {
        color: black;
        text-align: left;
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    p {
        color: black;
        text-align: left;
        padding: 10px;
        margin: 20PX;
    }
}